<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "HealthCare"
        version     = "1.0.0" >

    <name>HealthCare</name>
    <description>My first mobile app to control your activity, BMI and waight.</description>
    <author href="" email="marcin.feliks@op.pl">
		Marcin Feliks
		
	</author>
	<platform name="android" />
	<icon src="img/HealthCareIcon.png" />
	
	
	<plugin name="cordova-plugin-splashscreen" spec = "5.0.2" />
	<plugin name="cordova-plugin-device" spec="2.0.2" />	
	<plugin name="cordova-plugin-dialogs" spec="2.0.1" />

</widget>